* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200vh;
  background: url(bg.jpg);
  background-color: #df89a5;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
}

.container {
  position: relative;
  width: calc(100% - 100px);
  min-height: calc(100vh - 280px);
  min-height: 300px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 35px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 35px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

header {
  position: absolute;
  top: -40px;
  right: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

header .logo {
  font-weight: 700;
  color: #8a2435;
  font-size: 2em;
  text-decoration: none;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  list-style: none;
  margin: 0 10px;
}

header ul li a {
  text-decoration: none;
  font-weight: 500;
  border-radius: 25px;
  padding: 8px 15px;
}

header ul li a:hover,
header ul li a.active {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.content {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 40px;
  padding-left: 110px;
}

.content h2 {
  font-size: 3em;
  color: #8a2435;
}

.content p {
  font-size: 1.2em;
  color: #8a2435;
}

.content a {
  display: inline-block;
  padding: 15px 30px;
  background: #8a2435;
  margin-top: 20px;
  color: #fff;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.imgBx img {
  max-width: 400px;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

@-webkit-keyframes animate {
  0%,
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@keyframes animate {
  0%,
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

.sci {
  position: absolute;
  right: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sci li {
  list-style: none;
}

.sci li a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin: 5px 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sci li a img {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sci li:hover a img {
  -webkit-transform: scale(0.6) rotate(360deg);
          transform: scale(0.6) rotate(360deg);
}

.copyright {
  position: absolute;
  bottom: 30px;
  left: 50px;
  color: #8a2435;
}
/*# sourceMappingURL=main.css.map */